
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="<%= root_path %>" >

    <h3 class="novi-title">NOVI</h3>
  </a>
  <div class="d-flex align-items-center">
    <a href="<%= about_path%>" class="d-none d-sm-block about mr-5">About us</a>
    <a href="<%= feed_path%>" class="d-none d-sm-block about mr-5">your feed</a>
    <a href="<%= brand_registration_path%>" class="d-none d-sm-block about mr-5">registration</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <i class="fas fa-camera cam"><input type="file" name="image" accept="image/*" capture="environment"></i>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">

        </li>
        <li class="dropdown">
        <% if user_signed_in? && current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, height: 50, width: 50, class: "avatar-large" %>
        <% else %>
          <a class="btn btn-ghost" href="#">Account</a>
        <% end %>
        <ul class="dropdown-content">
          <% if user_signed_in? %>
            <%= link_to 'Profile', dashboard_path %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          <% end %>
        </ul>
      </li>
      </ul>
    </div>
  </div>

</div>
