<div data-controller="brands-filter">
<div class="feed-page">
  <div class="latest">
    <h2>latest</h2>
    <div class="mobile-pics">
      <div id="first-m"></div>
      <div id="second-m"></div>
      <div id="third-m"></div>
      <div id="fourth-m"></div>
    </div>
    <div class="products-first">
      <% @top12.each do |brand| %>
      <div class="brand-card">
        <%= link_to brand.followable.brand_name, brand_path(brand.followable) %>
      </div>
    <% end %>
    </div>


    <div class='img-container'>
      <div id="first"></div>
      <div id="second"></div>
      <div id="third"></div>
      <div id="fourth"></div>
    </div>


  </div>


<div data-controller="search-brands">
    <div class="search-nav" data-brands-filter-target="content">
        <%= form_with url: brands_path, method: :get, html: { class:
        'mb-4', data: { search_brands_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Type a brand name',
                     value: params[:query],
                     data: { search_brands_target: 'input', action: 'keyup->search-brands#update'} %>
                     <% end %>
    </div>


  <div class='brands-container-full'data-search-brands-target='list'>
      <% @brands.each do |brand| %>
        <div class="brand-card">
          <%= link_to brand.brand_name, brand_path(brand) %>
        </div>
      <% end %>
    </div>

  <h2 class="top-title">your top</h2>
   <div class='brands-container-mobile'>
    <% @top12.each do |brand| %>
      <div class="brand-card">
        <%= link_to brand.followable.brand_name, brand_path(brand.followable) %>
      </div>
    <%end %>
  </div>
</div>
</div>
