<div data-controller="brands-filter">
<div class="feed-page">

<!--
  <div class="latest">
    <h2 class="d-block d-sm-none"><%=@brand.brand_name%></h2>
    <h2 class="d-none d-sm-block">LATEST</h2>
    <div class="mobile-pics">
      <a href="<%= brand_path(@brand) %>" id="first-m" style="background-image:url('<%= @brand.brand_image %>')"></a>
    </div>
    <div class="products-first">

        <% @brand.products.each do|product|%>
          <div class="p-card" style="background-image: url(<%=product.image_url%>)">
            <p><% product.brand.brand_name %></p>
          </div>
        <% end %>

    </div>


    <div class='img-container'>
      <div id="first"></div>
      <div id="second"></div>
      <div id="third"></div>
      <div id="fourth"></div>
    </div>


  </div>
-->

<div data-controller="search-brands">
  <div class="banner-search">
    <h2 class="qoute"><%= @qoute %></h2>
  </div>
    <div class="search-nav d-none d-sm-block" data-brands-filter-target="content">
        <%= form_with url: brands_path, method: :get, html: { class:
        'mb-4', data: { search_brands_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Type a brand name',
                     value: params[:query],
                     data: { search_brands_target: 'input', action: 'keyup->search-brands#update'} %>
                     <% end %>
    </div>


  <div class='brands-container-full'data-search-brands-target='list'>
      <% @brands.each do |brand| %>
        <a href="<%=brand_path(brand) %>"class="brand-card" style="background-image:url('<%= image_url brand.brand_image %>')">
        </a>
      <% end %>
    </div>

  <h2 class="top-title">Followed</h2>
   <div class='brands-container-mobile'>
    <% @top12.each do |brand| %>
      <a href="<%=brand_path(brand.followable)%>" class="brand-card">
        <%= image_tag brand.followable.brand_image, class: "brand__img"  %>
        <div class="info">
          <h2><%= brand.followable.brand_name %></h2>
          <p><%= brand.followable.description.first(26) %></p>
        </div>
      </a>
    <%end %>
  </div>
</div>
</div>
