<div data-controller="brands-filter">
<div class="feed-page">

<div data-controller="search-brands">
  <div class="banner-search">
    <h2 class="qoute"><%= @qoute %></h2>

  </div>

    <%= link_to "Our brands", brands_path, class:'btn-search' %>
    <div class="search-nav d-none d-sm-block" data-brands-filter-target="content">
        <%= form_with url: brands_path, method: :get, html: { class:
        'mb-4', data: { search_brands_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Type a brand name',
                     value: params[:query],
                     data: { search_brands_target: 'input', action: 'keyup->search-brands#update'} %>
                     <% end %>
    </div>
  <!--
<div class="how-feed">
  <h2 class="top-title">How?</h2>
  <p class= "m-3 mb-5">
    Novi is an easy-to-use application and available on all all platforms.
    You will be able to read the synopsis of brands by following our <strong> 3-step </strong> process.
  </p>
  <p>
    <div class="how-images">
      <div class="how-card">
        <%= image_tag "shirt.png", width: 150, height: 150 %>
        <p><strong>Step 1:</strong> Find clothing item. </p>
      </div>
      <div class="how-card">
        <%= image_tag "qr.png", width: 150, height: 150, crop: :thumb, gravity: :face%>
        <p><strong>Step 2:</strong> Scan barcode. </p>
      </div>

      <div class="how-card">
        <%= image_tag "webpage.png", width: 150, height: 150, crop: :thumb, gravity: :face%>
        <p><strong>Step 3:</strong> Read synopsis. </p>
      </div>
    </div>
  </p>
</div>
 -->

  <h2 class="top-title">Followed</h2>

  <div class='top12-full d-none d-sm-flex'data-search-brands-target='list'>
      <% @top12.each do |brand| %>
        <a href="<%=brand_path(brand.followable) %>"class="brand-card" style="background-image:url('<%= image_url brand.followable.brand_image %>')">
        </a>
      <% end %>
    </div>

   <div class='brands-container-mobile'>
    <% @top12.each do |brand| %>
      <a href="<%=brand_path(brand.followable)%>" class="brand-card">
        <%= image_tag brand.followable.brand_image, class: "brand__img"  %>
        <div class="info">
          <h2><%= brand.followable.brand_name %></h2>
          <p><%= brand.followable.description.first(26) %></p>
        </div>
      </a>
    <%end %>
  </div>
  <h2 class="top-title">Activity</h2>
  <div class="feed-activity">
      <% @user_posts.flatten.each do |post| %>
       <div class="feed-post">
        <a href="<%=profile_path(post.user_id) %>"><%= cl_image_tag post.user.photo.key, class: "avatar-post"%></a>
        <p><%= post.comment %></p>
        <p class="post-time"><%= link_to post.user.first_name, profile_path(post.user_id) %> <%=distance_of_time_in_words((Time.now.to_i - post.created_at.to_i))%></p>

       </div>
      <% end %>
  </div>


</div>
