<div class="b-container">
  <div class="brand-container">
    <div class="brand-items">
      <h1><%= @current_user.first_name.capitalize %></h1>
    </div>

      <div class="b-info">
        <h5 class="b-description"><strong>Description</strong><br> <%= @current_user.description %></h5>
        <table class="b-table">
        <tr><td>Full name</td><td class="table-content"><%= @current_user.first_name.capitalize%> <br><%= @current_user.last_name.capitalize%></td></tr>
        <tr><td>Email</td><td class="table-content"><%= @current_user.email%></td></tr>
        <tr><td>Password</td> <td class="table-content"> <%= @current_user.password%></td></tr>
        </table>
      </div>
<br>
<br>
   <%= link_to "Back", feed_path %>
  </div>

  </div>
</div>


<%= image_tag "layla.jpg", width: 400, class: "p-image" %>
