
<div class="b-container">
  <div class="brand-container">
    <div class="brand-items">
      <h1><%= @brand.brand_name %></h1>
      <div class="follow">
        <% if @following.present? %>
          <%= link_to "UNFOLLOW", following_path(@following),class: "button-form", method: :delete %>
        <% else %>
          <%= simple_form_for @new_following do |f| %>
            <%= f.submit "Follow", class:"button-form" %>
            <%= f.input :followable_type,input_html:{value: "Brand"} , as: :hidden %>
            <%= f.input :followable_id, input_html: {value: @brand.id} , as: :hidden %>
          <% end %>
        <% end %>
      </div>
    </div>

      <div class="rating" data-controller="stars">
        <% if @rating.id.nil? %>
          <%= simple_form_for(@rating, html:{ class:"review_form" }) do |f| %>
            <%= f.input :rating, collection: 1..10, class:"d-none", data: {'stars-target' => 'stars'} %>
            <%= f.submit 'submit',class:"d-none" %>
            <%= text_field_tag :brand_id, @brand.id, class: "d-none" %>
          <% end %>
        <% else %>
          <% @avg_rating.times do |star|  %>
            <i class="fas fa-star" style="color: #EDB867;"> </i>
          <% end %>
          <% (10 - @avg_rating).times do |star|  %>
            <i class="far fa-star" style="color: #d2d2d2;"> </i>
          <% end %>
        <% end %>
      </div>

      <div class="b-info">
        <h5 class="b-description"><strong>Description</strong><br> <%= @brand.description %></h5>
        <table class="b-table">
        <tr><td>Brand</td><td class="table-content"><%= @brand.brand_name%></td></tr>
        <tr><td>Origin</td><td class="table-content"><%= @brand.origin%></td></tr>
        <tr><td>Carbon Footprint</td> <td class="table-content"> <%= @brand.carbon_footprint%></td></tr>
        <tr><td>Ethics</td><td class="table-content"><%= @brand.ethics%></td></tr>
        <tr><td>Material Resources</td><td class="table-content"><%= @brand.material_resources%></td></tr>
        </table>
      </div>

      <h1 class="p-title"> Products </h1>
      <div class="outgoing">
        <% @brand.products.each do|product|%>
          <div>
            <a href="<%=product.site_url%>"> <img class="p-card" src ="<%=product.image_url%>"/> </a>
          </div>
        <% end %>
      </div>

    <%= link_to "return", feed_path,  class: "button-form btn-home " %>
  </div>
</div>


  <div class="posts-container">
    <div class="posts bg-white">
      <h1 id="thread" class="p-title">Thread</h3>
        <%= simple_form_for @new_post do |f| %>
          <%= f.input :comment, placeholder: "Add a new thread, then press enter." %>
          <%= f.submit "âŽ", class: "d-none" %>
          <%= f.input :messageable_type, input_html:{value: "Brand"} , as: :hidden %>
          <%= f.input :messageable_id, input_html:{value: @brand.id} , as: :hidden %>
          <%= text_field_tag :brand_id, @brand.id, class: "d-none" %>
        <% end %>
        <% @posts.each do |post| %>
         <% if post.messageable_id == @brand.id %>
          <div id="<%= "post-#{post.id}" %>" class="post p-2" data-controller="comments">
              <a href="<%=profile_path(post.user_id) %>"><%= image_tag post.user.photo, class: "avatar-post"%></a>
            <div class="post-content">
                   <p class="post-time"><%= link_to post.user.first_name, profile_path(post.user_id) %> <%=distance_of_time_in_words((Time.now.to_i - post.created_at.to_i))%></p>

                <h5>"<%= post.comment %>"</h5>


              <div id = "post-actions" >

                    <%= simple_form_for @like do |f| %>
                      <%= post.likes.count %>
                      <%= f.submit "ðŸ‘", class: "button-like" %>
                      <%= f.input :post_id, input_html: {value: post.id} , as: :hidden %>
                    <% end %>
                    <div class="links">
                      <button class="btn-comment" data-comments-target="button" data-action="click->comments#show">add comment</button>
                      <%= link_to 'delete', post_path(post, params:{ brand_id: @brand.id }),class:"button-like", method: :delete if post.user == current_user %>
                    </div>
              </div>
              <div class="comment d-none" data-comments-target='form'>
                  <%= simple_form_for @new_post do |f| %>
                    <%= f.input :comment %>
                    <%= f.submit 'Comment' %>
                    <%= text_field_tag :brand_id, @brand.id, class: "d-none" %>
                    <%= f.input :messageable_id, input_html:{value: post.id} , as: :hidden %>
                    <%= f.input :messageable_type, input_html:{value: "Post"} , as: :hidden %>
                  <% end %>
              </div>
              <%= render "posts/posts", post: post %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<div>
  <a href="<%=brand_path(@brand) %> "class="b-image" style="background-image:url('<%= image_url @brand.brand_image %>')">
</div>
