<div class="container">
  <div class="brand-container">
    <div class="brand-items">
      <h1><%= @brand.brand_name %></h1>
      <div class="follow">
        <% if @following.present? %>
          <%= link_to "UNFOLLOW", following_path(@following), method: :delete %>
        <% else %>
          <%= simple_form_for @new_following do |f| %>
            <%= f.submit "Follow" %>
            <%= f.input :followable_type,input_html:{value: "Brand"} , as: :hidden %>
            <%= f.input :followable_id, input_html: {value: @brand.id} , as: :hidden %>
          <% end %>
        <% end %>
      </div>
    </div>
      <%= @avg_rating %> stars
      <div class="rating">
        <%= simple_form_for(@rating, html:{ class:"review_form" }) do |f| %>
          <%= f.input :rating, collection: 1..10, class:"d-none"  %>
          <%= f.submit 'submit',class:"d-none" %>
          <%= text_field_tag :brand_id, @brand.id, class: "d-none" %>
        <% end %>
      </div>
      <div class="b-info">
        <h5 class="b-description"><strong>Description</strong><br> <%= @brand.description %></h5>
        <table class="b-table">
        <tr><td>Brand</td><td class="table-content"><%= @brand.brand_name%></td></tr>
        <tr><td>Origin</td><td class="table-content"><%= @brand.origin%></td></tr>
        <tr><td>Carbon Footprint</td> <td class="table-content"> <%= @brand.carbon_footprint%></td></tr>
        <tr><td>Ethics</td><td class="table-content"><%= @brand.ethics%></td></tr>
        <tr><td>Material Resources</td><td class="table-content"><%= @brand.material_resources%></td></tr>
        </table>
      </div>

  </div>
  <div class="posts">
    <div class="posts bg-white p-3">
    <h3>Thread</h3>
      <%= simple_form_for @new_post do |f| %>
        <%= f.input :comment %>
        <%= f.submit "Create Post" %>
        <%= f.input :messageable_type, input_html:{value: "Brand"} , as: :hidden %>
        <%= f.input :messageable_id, input_html:{value: @brand.id} , as: :hidden %>
        <%= text_field_tag :brand_id, @brand.id, class: "d-none" %>

      <% end %>

      <% @posts.each do |post| %>
        <% if post.messageable_id == @brand.id %>
          <div class="post p-2">
          <div>
            <h3><%= post.comment %></h3>
            <p><%= post.user.email %></p>
            <%= post.likes.count %>
          </div>
          <div>
            <%= simple_form_for @like do |f| %>
              <%= f.submit "ðŸ‘" %>
              <%= f.input :post_id, input_html: {value: post.id} , as: :hidden %>
            <% end %>
          </div>
          <div>
            <%= link_to 'ðŸ—‘', post_path(post, params:{ brand_id: @brand.id }), method: :delete %>
            <%= simple_form_for @new_post do |f| %>
              <%= f.input :comment %>
              <%= f.submit 'Comment'%>,
              <%= f.input :messageable_type, input_html:{value: "Post"} , as: :hidden %>
              <%= f.input :messageable_id, input_html:{value: post.id} , as: :hidden %>
              <%= text_field_tag :brand_id, @brand.id, class: "d-none" %>
          <% end %>
          </div>
          <%= render "posts/posts", post: post %>
          </div>
        <% end %>
      <% end %>
    </div>
   <%= link_to "Back", feed_path %>
  </div>
</div>

<div class="b-image">
<%= image_tag "clothes.png", width: 400 %>
</div>
